body{
    background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
    background-blend-mode: darken;
    
}

.page{
    display: grid;
    height: 450px;
    width:400px;
    margin:auto;
    margin-top:50px;
    border-radius: 0px;
    background: #FFFFFF; 
    padding:50px;
    padding-top:50px;
    
    
    
}

.page_1_title{
    font-family: Inter;
font-size: 32px;
font-weight: 500;
line-height: 39px;
letter-spacing: 0em;
text-align: center;
color:#555555;
margin-top: 30px;
    
}
.paragraphe_1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;

    text-align: center;
    color: #555555;


}


label,input{
    display:block;
}
input{
    height:40px;
    width: 350px;
}
#nom,#mail{
    margin-top:10px
}
.label_nom{
    margin-top:10px;
}
.Email{
    margin-top:5px;
}
.error_name, .error_mail{
    color:red;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;


}
#start{
    height: 40px;
    width:250px;
    background-color: green;
    color:white;
    margin-left:55px;
    margin-top:10px;
    border-style : none;
    
}

/*quiz pages*/
#questionnaire{
    display:none;
}

.the_question{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    text-align: center;
    margin-top: 10px;
}

#time_progress{
    display:block;
      
}
#page_question,#timer{
    display:inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;

    color: #555555;
}
#timer{margin-left:300px;}

#progress_bar{
    width:100%;
    background-color:  #efeff7 ;
    border-radius: 10px;
}
#the_bar{
    width:1%;
    height: 10px;
    background-color: #028A3D;
    border-radius: 10px;
}

.content_question{
    display:flex;
    border:solid 0.5px #DDDDDD;
    margin-top:20px;
    height: 40px;
}
input[type="radio"]{
    width: 20px;
    -webkit-appearance: none;
    appearance: none;
    color: slategray;
    font: inherit;
    border: 0.02em solid slategray;
    width: 1em;
    height: 1em;
    cursor: pointer;
    border-radius: 50%;
    display: grid;
    place-content: center;

}
input[type="radio"]::before{
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);

}
input[type="radio"]:checked::before {
    transform: scale(1);
    background-color: #028A3D;
  }

.radio{
    display: inline-block;
    align-self: center;  
}

.assertions{
    display:flex;
    border: solid 0.1px silver;
    margin-left:5px;
    margin-top:20px;  
    height: 40px;
    cursor: pointer;
}
.reponses{
    align-self: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
   
    letter-spacing: 0em;
    font-family: 'Inter';
    font-style: normal;
 
   
    line-height: 24px;

    color: #555555;

}

#quit,#next{
    width:48%;
    margin-top: 20px;
    height: 59px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
border-style: none;


}
#quit{
    color:white;background-color:#EC880C;
    font-family: Inter;

   
    }
#next{
    color:white;
    background: #028A3D;
    margin-left:10px;
    
}


/*result pages*/
#result{
    display: grid;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.nom_utilisateur,.mail_utilisateur{
    text-align: center;
    align-self: center;
    


}
.nom_utilisateur{
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;


}
.mail_utilisateur{
    font-family: Inter;
   font-size: 20px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0em;


}
.affichage_result{
    justify-content: center;
    align-content: center;
}

.home{
    height: 59px;
    width: 226px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #0880D6;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-style: none;

    
}
.icone_result{
    height:150px;
    width: 150px;   
}
.score{
    
    align-content: center;
    justify-content: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
